
* {
  padding: 0;
  margin: 1rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

button, select {
  padding: 1rem;
  border: transparent;
  border-radius: 15px;
  background-color: rgb(204, 204, 204);
}

button:hover, select:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.game-cont {
  display: flex;
  flex-direction: row;
}

.color-block {
  margin: 0.5rem;
  border-radius: 0.5rem;
  width: 7rem;
  height: 3rem;
  opacity: .8;
  cursor: pointer;
  transition: transform 0.5s;
  cursor: pointer;
}

.color-block:nth-child(1) {
  background-color: red;
}

.color-block:nth-child(2) {
  background-color: blue;
}

.color-block:nth-child(3) {
  background-color: green;
}

.color-block:nth-child(4) {
  background-color: orange;
}

.active {
  opacity: 1;
  transform: scale(1.05);
  transition: transform 0.5s;
}

.unclickable {
  background-color: red;
  cursor: default; /* Change cursor to default */
  pointer-events: none; /* Disable pointer events */
}

